{% extends 'components/base.html' %}
{% load static %}

{% block title %}
About Us
{% endblock %}

{% block body %}



<div class="hero-wrap">
  <h1 class="hero-title mt-3">About Us</h1>
</div>


<div class="container" style="display:flex; margin-top:3rem;">
    <div class="ratio ratio-16x9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/P_lM7o41wH4?si=ZWQyr_S7bNEpOiHj"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>


    <!-- <img src="{% static 'img/about.jpeg' %}" alt="Main photo" class="rounded-3 container img-thumbnail" style="max-width: 700px;  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);"> -->
    <div class="container" style="display: flex; flex-direction: column;">
        <h3>Who we are!</h3>
        <p>Welcome to Liquor App, your trusted online destination for premium wines, spirits, and beers in Myanmar.

            We believe that every bottle tells a story — whether it’s the craftsmanship of a fine whisky, the heritage
            of a bold red wine, or the refreshing taste of a craft beer. Our mission is simple: to bring you the best
            selection of local and international brands, all delivered with convenience, trust, and responsibility.

            At Liquor App, we partner with verified shops and passionate sellers who share our values of quality and
            authenticity. This means that when you browse our platform, you can shop with confidence knowing every
            product has been carefully selected.

            But we don’t just sell drinks — we create experiences. Whether you’re celebrating with friends, preparing
            for a family gathering, or gifting someone special, we make sure you find the perfect bottle for every
            occasion.

            We also believe in responsible drinking. Our platform is strictly for customers 18 years and older, and we
            encourage moderation and safe enjoyment.

            With easy navigation, secure checkout, and reliable delivery, Liquor App is more than a store — it’s your
            companion for unforgettable moments.

            Discover. Taste. Celebrate.</p>
    </div>
</div>

{% endblock %}