{% extends 'components/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block body %}

<div class="container" style="display:flex; margin-top:3rem; ">
    <div class="container" style="position:relative;">
        <img src="{% static 'img/pexels-photo-1283219.jpeg' %}" alt="Main photo" class="rounded-3 container-sm img-thumbnail" style="max-width: 700px; box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);"></div>
        <div style="position:absolute;">
        <img src="{% static 'img/sar.png' %}" alt="sar" class="container" style="width: 250px; margin-top: 200px; margin-left: 30px;">
    </div>
    <div class="container" style="display: flex; flex-direction: column; max-width: 700px;">
        <img src="{% static 'img/liquor-store.jpg' %}" alt="shops" class="rounded-3 container-sm img-thumbnail" style="height: 200px; box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);">
        <img src="{% static 'img/beverages.jpg' %}" alt="liquors" class="rounded-3 container-sm img-thumbnail" style=" height: 200px; box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);">
    </div>
</div>


{% endblock %}